p {
    font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.loading {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loading div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading div:nth-child(1) {
    left: 6px;
    animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
    left: 6px;
    animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
    left: 26px;
    animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
    left: 45px;
    animation: loading3 0.6s infinite;
}
@keyframes loading1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loading3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loading2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.button {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #cccccc;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", "Roboto", sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #cccccc;
    text-align: center;
    position: relative;
}

.button:hover {
    border-color: #7a7a7a;
}

.button:active {
    background-color: #999999;
}

@media all and (max-width: 30em) {
    .button {
        display: block;
        margin: 0.2em auto;
    }
}
